<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/not-found.css">
    <title>Page Not Found</title>
    <link rel="shortcut icon" type="image/x-icon" href="/simplepaste.png">
</head>
<body>
<div class="header">
    <img src="/simplepaste.png" alt="SimplePaste Icon">
    <h1>SimplePaste - Page Not Found</h1>
</div>
<div class="container">
    <div class="box">
        <h2>404 - Page Not Found</h2>
        <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
        <a href="/" class="btn">Go to Homepage</a>
    </div>
</div>
</body>
</html>