<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple paste service</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/simplepaste.png">
    <link rel="stylesheet" href="/style/user-response.css">
</head>
<body onload="formatCode()">
    <div class="container">
        <div class="header">
            <img src="/simplepaste.png" alt="SimplePaste Icon">
            <h1>SimplePaste - A Simple Paste Service</h1>
        </div>
        <div class="box">
            <div class="formatted-code-header">
                <h2>Formatted Code:</h2>
                <button class="copy-button" onclick="copyLink()">Copy website link</button>
            </div>
            <pre><code id="formattedCode" class="hljs" th:text="${content}"></code></pre>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/java.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/cpp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/rust.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/dart.min.js"></script>
    <script src="/script/formatContent.js"></script>
</body>
</html>